@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Antic+Didone|Cormorant+Garamond&display=swap');

body {
  margin: 0;
  
}

h2,
h3,
h4,
h5 {
  font-family: 'Cinzel';
  text-align: center;
}

h1 {
  letter-spacing: -0.2rem;
  color: white;
  font-family: 'Cinzel';
  font-size: 4vw;
}

h2 {
  font-size: 3.2vw;
  font-weight: bold;
  text-align: center;

}

h3,
.navbar-nav {
  font-size: 2.4vw;
}

h4 {
  margin-top: 24px;
  font-size: 2vw;
}

h5 {
  font-size: 1.6vw;
}

p {
  font-size: 1.4vw;
}

p,
ul,
li {
  font-family: 'Cormorant Garamond', serif;
}

ul,
li {
  list-style: none;
}

input {
  margin: 20px;
}

.number {
  font-family: 'CormorantGaramond-SemiBoldItalic';
  font-size: 4.2vw;
}

.quote {
  font-family: 'CormorantGaramond-SemiBoldItalic';
  font-size: 2.4vw;
}
.container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 0.8rem;
}

.section {
  margin:4rem 0 4rem 0;
}

.intro {
  color: #566361;
  margin-bottom: 2rem;
  font-family: 'CormorantGaramond-SemiBoldItalic';
  text-align: center;
}

.navbar-nav,
.table {
  font-family: 'Cinzel';
}

.icon,
.icon1,
.col-5-download {
  cursor: pointer;
}
/* --------------- CAROUSEL & TITLE --------------- */

.slider-img {
  border: 1px solid black;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 400px;
}
/* --------------- NAVBAR --------------- */
.navbar-brand {
  width: 18vw;

}

.nav-link {
  color: white !important;
  font-family: 'Cinzel';
}

.navbar-collapse {
  text-align: center;
}

.bg-dark {
  background-color: black !important;
}

/* ----------------FELLOWS SECTION ----------------- */

.card-deck {
  display: flex;
  padding: 0;
  margin: 0;
}

.card {
  border: none;
}

.card-footer {
  background-color: white;
  padding: 0;
  border: none;
}

.btn {
  width: 8rem;
  font-family: 'NordicaThin';
  display: block;
  background-color: #566361;
  color: black;
  font-weight: bolder;
}

/* .card-img-top {
  overflow: hidden;
} */

.img-fellows {
  transition: transform .8s ease;
  overflow: hidden;
}

.img-fellows:hover {
  transform: scale(1.1);
}



.opacity {
  opacity: 0.5;
}

.dead {
  opacity: 1;
  color: red;
  font-weight: bold;
  position: absolute;
  top:30%;
  left:30%;
  z-index: 999;
}

.modal-header,
.modal-footer {
  justify-content: center;
}

.modal-body,
.modal-header {
  background: #566361;
  color:white;
}
.modal-header {
  border-bottom: 0;
}
.row-settings {
  height: 20vh;
  margin-top: 20px;
}
.reward,
.difficulty,
.weapon {
  /* border:1px solid black; */
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
/* ------------- RING SECTION --------------- */
.table {
  text-align: center;
}
.row-gollum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.txt-gollum {
  display: flex;
  flex-flow: column wrap;
}

/* --------------- HUNTERS SECTION --------------- */

.card-img-top {
  width:100%;
  height: 40vh;
  object-fit: cover;
}

.col-3-sm-12 {
  margin: 15px;
}
.rewards {
  text-align: justify;
}
.rating-star {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  padding: 0;
  position: relative;
  display: block;
  float: left;
}

.full-star:before {
  color: peru;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  color: peru;
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:after {
  content: '\2605';
  position: absolute;
  left: 1.5rem;
  width: 50%;
  text-indent: -1.5rem;
  overflow: hidden;
}

/* .card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
} */

[data-aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

[data-aos="fade-up"].aos-animate {
  opacity: 0.3;
}
/* ----------------ARMY SECTION ---------------- */

.row-army {
  display: flex;
  flex-flow: row nowrap;

}

.row-army-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-left: 0;
}
.col-11-banner {
  display: flex;
  align-items: center;
}

.txt-army {
  margin:8px;
}
.card {
  margin-bottom: 20px !important;
}

.group-icones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}

.icon1 {
  width: 50px;
  height: 50px;
}

.google-play {
  width: 20%;
  height: auto;
  margin-top: 3rem;
}

/* ----------------CONTACT SECTION ---------------- */

.container-form {
  width:50vw;
  margin: auto; 
}

.contact-form {
  padding: 30px;
}

.form-name,
.form-email,
.form-group {
  display: flex;
  justify-content: center;
}

.form-txt {
  width:44vw;
  margin: auto;
  resize: both;
}

.btn-form {
  margin-top: 2rem;
}

/* ------------- FOOTER --------------------*/

.col-follow {
  padding-right: 0;
}

.col-legal {
  padding-left: 0;
}

.legal-mentions {
  padding: 0;
  margin-bottom: 0;
}

.form-newsletter {
  margin:0;
  width:200px;
}
.form-newsletter::placeholder,
.form-control::placeholder {
  font-family: 'Cormorant Garamond', serif;
}
.send {
  width:50px;
}
.icon {
  margin-left: 5px;
  border-radius: 2px;
  width:30px;
  height: 30px;
}

.youtube {
  margin-right: 0;
}


/*---------- MEDIA QUERIES -----------*/

/* ----------- iphone 5 iphone 6,7,8 + , iPhone X ----------- */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .container {
    padding: 0;
  }

  .carousel-item {
    height: 200px;
  }

  .section {
    margin: 1rem auto 1rem;
    width: 100vw;
    /* margin: auto; */
  }

  .intro {
    margin: 1rem 0 1rem 0;
  }

  h1 {
    letter-spacing: 0;
  }

  h2 {
    font-size: 4.8vw;
  }

  h5 {
    font-size: 3.2vw;
  }

  .btn {
    width: 5rem;
    font-size: 2vw;
  }

  .card-body {
    padding: 20px 0 0 0;
  }

  .table {
    display: none;
  }
  .col-3-sm-12 {
    margin: 15px;  
  }

  .level-block> :nth-child(1),
  .level-block> :nth-child(2),
  .level-block> :nth-child(3) {
    display: none;
  }

  .level-block {
    height: 40px;
    display: flex;
    justify-content: center;
  }

  .row-gollum {
    margin-top: 2rem;
  }
  .card-reward {
    margin-bottom: 0 !important;
  }

  .group-icones {
   display:none;
  }

  .col-5-download {
    margin-top: 2rem;
  }

  .col-11-banner {
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    padding-left: 15px;
  }

  .contact-form,
  .container-form {
    width:100vw;
  }

  .form-txt {
    width:88%;
  }

  .footer {
    flex-flow: row wrap;
    justify-content : center;
    align-items: center;
  }

  .form-newsletter {
    width:100px;
  }

  .send {
    width: 30px;
  }
}