@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Abaddon';
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 4vw;
}

h3,
.navbar-nav {
  font-size: 3vw;
}

h4{
  margin-top: 24px;
  font-size: 2vw;
}

p {
  font-family: 'NordicaThin';
  font-size: 1vw;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 0.8rem;
}

.section {
  margin-top: 4rem;
}

.intro { 
  color: #566361;
  margin-bottom: 4rem;
}

.intro, 
.navbar-nav,
.table {
  font-family: 'Cinzel';
}

/* --------------- CAROUSEL & TITLE --------------- */

.precious {
  font-size: 8vw;
  letter-spacing: -0.3rem;
  color:white;
  text-shadow: 1px 4px 0 #bab9b9, 1px 13px 5px #aba8a8;
}

.slider-img {
  border: 1px solid black;
}

/* --------------- NAVBAR --------------- */

.nav-link {
  color:white !important;
}

.navbar-collapse {
  text-align: center;
}

.bg-dark {
  background-color: black !important;
}

/* ----------------FELLOWS SECTION ----------------- */

.card-deck {
  display: flex;
  padding: 0;
  margin: 0;
}

.card {
  border: none;
}
.card-title {
  font-family: 'Abaddon';
  text-align: center;
}

.btn {
  width: 10rem;
  font-family: 'NordicaHairline';
  display: block;
}

/* ------------- RING SECTION --------------- */

.table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row-gollum {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  border:1px solid black;
}

.title-gollum,
.txt-gollum {
  display: flex;
  align-items: center;
}
.col-3 {
  padding: 20px;
  border: 1px solid black;
}
/* --------------- HUNTERS SECTION --------------- */

.row-hunter-section{
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: space-between;
  
}
.hunter-flow {
  width: 60vw;
  height: 32rem;
  overflow: scroll;  
}

.row-hunters {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.rating-star{
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  position: relative;
  display: block;
  float:left;
}

.full-star:before {
  color:purple;
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  color: purple;
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:after {
  content: '\2605';
  position: absolute;
  left: 1.5rem;
  width: 50%;
  text-indent: -1.5rem;
  overflow: hidden;
}

.rewards {
  height: 32rem;
  overflow: scroll;  
  text-align: justify;
  border:1px solid black;
}
/* --------------- REWARDS SECTION --------------- */

.reward-title {
  margin:10px;
  text-align: center;
}



.army-title {
  margin-bottom:40px;
  text-align: center;
}
.row-army {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  
}

.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.col-icone {
  margin: 10px;
}

.download {
  display: flex;
  flex-direction: row;
}

.google-play {
  max-width: 20%;
  height: auto;
}


form {
  width: 50vw;
  margin: auto;
}

/*---------- MEDIA QUERIES -----------*/

@media (min-width:576px){
  .card-deck {
    flex-flow: row wrap;
    /* margin-right: -15px;
    margin-left:-15px; */
  }
}